<p id="notice"><%= notice %></p>

<p>
  <strong>Element type:</strong>
  <%= @element.element_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @element.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @element.post_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @element.position %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
